@import 'constants.styl'
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300')
@import '../node_modules/font-awesome/css/font-awesome.css'

.dtime
  font-family: 'Titillium Web', sans-serif
  @import 'styles.styl';
  @import 'dtcontrols.styl';

