@import 'constants.styl'
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300')

.dtime
  font-family: 'Titillium Web', sans-serif
  @import 'styles.styl';
  @import 'dtcontrols.styl';

